#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  width: 40vw;
  padding: 30px;
}

.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid black;
}

.box {
  width: 25%;
  border: 1px solid black;
  aspect-ratio: 2/1;
}
